@inherits LayoutComponentBase

@page "/products/all-products"

<PageTitle>All Products</PageTitle>

<main>
    <div class ="content">
        <div class="header" style="left: -10%">
            <h1>All Products</h1>
        </div>
        <div class="table-responsive-sm tablealign" style="margin:auto; position:absolute; top: 85px; left: -10%">
            <div>
                <form class="form-inline">
                    <div class="form-group col-md-6" style="float:right">
                        <input type="search" id="query" name="q" asp-for="searchTerm" placeholder="Search...">
                    </div>
                </form>
            </div>
            <table class ="table table-sm table-bordered">
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Pricing</th>
                    <th>Date Created</th>
                    <th>Description</th>
                </tr>
                @foreach (product prod in database.GetProducts(0))
                {
                    <tr>
                        <td>@prod.id</td>
                        <td>@prod.name</td>
                        <td>@prod.categoryName</td>
                        <td>@prod.price</td>
                        <td>@prod.date</td>
                        <td>@prod.description</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</main>