@using JP.Shared
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@page "/clients"

<PageTitle>Clients</PageTitle>


<main>
    <div class ="content">
        <div class="header" style="left: -10%">
            <h1>Clients</h1>
        </div>
        <div class="table-responsive-sm tablealign" style="margin:auto; position:absolute; top: 235%; left: -10%">
            <div>
                <form class="form-inline">
                    <div class="form-group col-md-6" style="float:right">
                        <input type="search" id="query" name="q" asp-for="searchTerm" placeholder="Search...">
                    </div>
                </form>
            </div>
            <table class ="table table-sm table-bordered">
                <tr>
                    <th>Company</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
                 @{
                    string uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Query;
                    string searchTerm = uri.Contains("=") ? NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Query.Split("=")[1] : "";
                    foreach (client clt in database.GetClients(0, searchTerm))
                    {
                    <tr>
                        <td>@clt.companyID</td>
                        <td>@clt.firstName</td>
                        <td>@clt.lastName</td>
                        <td>@clt.email</td>
                        <td>@clt.phoneNumber</td>
                        <td>@clt.categoryID</td>
                        <td>
                            <button class="edit-client" @onclick="@(() => ShowEditClientForm(clt.id, clt.firstName, clt.lastName, clt.email, clt.phoneNumber, clt.categoryID))">Edit</button>
                        </td>
                        <td>
                            <button class="remove-client" @onclick="@(() => ConfirmRemoveClient(clt.id))">Remove</button>
                        </td>
                    </tr>
                    }
                }
            </table>
        </div>
    </div>
</main>

@if (showingConfirmRemoveClient)
{

    <ConfirmRemoveClient
        OnNo="CancelRemoveClient"
        OnYes="RemoveClient" />

}

@if (showingEditClientForm)
{

    <EditClientForm
        Client="editClient"
        OnCancel="CancelEditClient"
        OnSave="SaveEditClient" />

}

@functions {

    // REMOVE CLIENT ---------------------------------------------------------------

    bool showingConfirmRemoveClient;
    bool showingEditClientForm;
    int clientID;
    client editClient;


    // Function to confirm client removal
    private async Task ConfirmRemoveClient (int id)
    {
        // Confirm if they would like to remove client
        clientID = id;
        showingConfirmRemoveClient = true;
    }

    void CancelRemoveClient()
    {
        showingConfirmRemoveClient = false;
    }

    void RemoveClient()
    {
        database.RemoveClient(clientID);
        showingConfirmRemoveClient = false;
    }

    // EDIT CLIENT ---------------------------------------------------------------

    // Function to show edit client form
    void ShowEditClientForm(int id, string fName, string lName, string email, decimal phone, string catID)
    {
        editClient = new client(id, email, fName, lName, "", phone, 1, catID);
        showingEditClientForm = true;
    }

    // Function to cancel client edit
    void CancelEditClient()
    {
        showingEditClientForm = false;
    }

    // Function to save editted client
    private async Task SaveEditClient()
    {
        database.EditClient(editClient.id, editClient.email, editClient.firstName, editClient.lastName, editClient.phoneNumber, editClient.categoryID);
        showingEditClientForm = false;
    }

}