@using JP.Shared
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@page "/clients"

<PageTitle>Clients</PageTitle>


<main>
    <div class="new-client mx-auto" style="margin:auto; position:absolute; top: 100%; right: -11%">
        <div class="new-client-text">New Client</div>
    </div>
    <div class ="content">
        <div class="header" style="left: -10%">
            <h1>Clients</h1>
        </div>
        <div class="table-responsive-sm tablealign" style="margin:auto; position:absolute; top: 235%; left: -10%">
            <div>
                <form class="form-inline">
                    <div class="form-group col-md-6" style="float:right">
                        <input type="search" id="query" name="q" asp-for="searchTerm" placeholder="Search...">
                    </div>
                </form>
            </div>
            <table class ="table table-sm table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Company</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Employee</th>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                 @{
                    string uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Query;
                    string searchTerm = uri.Contains("=") ? NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Query.Split("=")[1] : "";
                    foreach (client clt in database.GetClients(0, searchTerm))
                    {
                    <tr>
                        <td>@clt.id</td>
                        <td>@clt.companyID</td>
                        <td>@clt.firstName</td>
                        <td>@clt.lastName</td>
                        <td>@clt.email</td>
                        <td>@clt.phoneNumber</td>
                        <td>@clt.employeeID</td>
                        <td>@clt.categoryID</td>
                        <td>
                            <div class="edit-client">Edit
                                <form id="edit" method="post" asp-page-handler="Edit">
                                    <button type="submit" name="edit-client" value="@clt.id"></button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <div class="delete-client">Delete
                                <form id="delete" method="post" asp-page-handler="Delete">
                                    <button type="submit" name="delete-client" value="@clt.id"></button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    }
                }
            </table>
        </div>
    </div>
</main>