@inherits LayoutComponentBase

@page "/"

<PageTitle>Welcome</PageTitle>

<main>
    <div class ="content">
        <div class="header">
            <h1 @ref="divWelcome">Welcome</h1>
            <br />
        </div>
   
        <div>
            <br />
            <br />
            <br />
            <div class="card w-30" style="float:left; position:relative; margin-left:5%">
                <div class="card-body">
                    <h2 class="card-title text-center">My Meetings</h2>
                    <dl>
                        <hr>
                        @foreach (meeting meetings in database.GetMeetings())
                        {
                            <dt>@meetings.time @meetings.company @meetings.clientName</dt>
                            <br>
                        }
                    </dl>
                </div>
            </div>

            <div class="card w-25" style="float:left; position:relative; margin-left:5%">
                <div class="card-body">
                    <h2 class="card-title text-center">My Tasks</h2>
                    <dl>
                        <hr>
                        @foreach (task task in database.GetTasks())
                        {
                            <dt>@task.name</dt>
                            <br>
                        }
                    </dl>
                </div>
            </div>

            <div class="card w-35" style="float:left; position:relative; margin-left:5%">
                <div class="card-body">
                    <h2 class="card-title text-center">Sales Feed</h2>
                    <dl>
                        <hr>
                        @foreach (sale sale in database.GetSales())
                        {
                            <dt>Date: @sale.date.ToString("MM/dd/yyyy")<br>Employee: @sale.employeefName @sale.employeelName<br>Client: @sale.clientfName @sale.clientlName<br>Company: @sale.companyName<br>Product: @sale.productName</dt>
                            <br>
                        }
                    </dl>
                </div>
            </div>
        </div>
    </div>
</main>

@using Microsoft.JSInterop
@inject IJSRuntime JsRuntime;
@code {
    private ElementReference divWelcome;
    private string welcome = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        string username = await JsRuntime.InvokeAsync<string>("ReadCookie.ReadCookie", "cookieLoggedInUserName");

        if (username != "")
        {
            welcome = "Welcome back, " + username + "!";
        }
        else
        {
            welcome = "Welcome";
        }
        await JsRuntime.InvokeVoidAsync("setText", divWelcome, welcome);
    }
}
