@using JP.Shared
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@page "/leads"

<PageTitle>Potential Leads</PageTitle>


<main>
    <div class="new-lead mx-auto" style="margin:auto; position:absolute; top: 100%; right: -11%">
        <div class="new-lead-text">New Lead</div>
    </div>
    <div class ="content">
        <div class="header" style="left: -10%">
            <h1>Potential Leads</h1>
        </div>
        <div class="table-responsive-sm tablealign" style="margin:auto; position:absolute; top: 235%; left: -10%"
            <div> 
                <form class="form-inline">
                    <div class="form-group col-md-6" style="float:right">
                        <input type="search" id="query" name="q" asp-for="searchTerm" placeholder="Search...">
                    </div>
                </form>
            </div>
            <table class ="table table-sm table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Company</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Employee</th>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                @{
                    string uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Query;
                    string searchTerm = uri.Contains("=") ? NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Query.Split("=")[1] : "";
                    foreach (client lead in database.GetLeads())
                    {
                        <tr>
                            <td>@lead.id</td>
                            <td>@lead.companyID</td>
                            <td>@lead.firstName</td>
                            <td>@lead.lastName</td>
                            <td>@lead.email</td>
                            <td>@lead.phoneNumber</td>
                            <td>@lead.employeeID</td>
                            <td>@lead.categoryID</td>
                            <td>
                                <div class="edit-lead">Edit
                                    <form id="edit" method="post" asp-page-handler="Edit">
                                        <button type="submit" name="edit-lead" value="@lead.id"></button>
                                    </form>
                                </div>
                            </td>
                            <td>
                                <div class="delete-lead">Delete
                                    <form id="delete" method="post" asp-page-handler="Delete">
                                        <button type="submit" name="delete-lead" value="@lead.id"></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                    }
            </table>
        </div>
    </div>
</main>