@inherits LayoutComponentBase

@page "/leaddealsale"

<PageTitle>Lead-Deal-Sale Visibility</PageTitle>

<main>
    <div class="content">
        <div class="header" style="left: -10%">
            <h1>Lead-Deal-Sale Lifecycle</h1>
        </div>
        <div class="table-responsive-sm tablealign" style="margin:auto; position:absolute; top: 235%; left: -10%">
            <table class="table table-sm table-bordered">
                <tr>
                    <th>Lead</th>
                    <th>Deal</th>
                    <th>Sale</th>
                </tr>
                @foreach (leaddealsale lds in database.GetLeadDealSales())
                {
                    <tr>
                        <td>Lead name: @lds.client.firstName @lds.client.lastName<br>Company name: @lds.deal.companyName<br>Join date: @lds.client.joinDate.ToString("MM/dd/yyyy")<br>Assigned to employee: @lds.deal.employeefName @lds.deal.employeelName</td>
                        <td>Deal category: @lds.deal.categoryName<br>Product: @lds.deal.productName<br>Deal date: @lds.deal.date.ToString("MM/dd/yyyy")</td>
                        <td>Product sold: @lds.sale.productName<br>Sale date: @lds.sale.date.ToString("MM/dd/yyyy")<br></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</main>