@inherits LayoutComponentBase

@page "/notes"

<PageTitle>Notes</PageTitle>


<main>
    <div class="new-note mx-auto" style="margin:auto; position:absolute; top: 100%; right: -11%">
        <div class="new-note-text">New Note</div>
    </div>
    <div class="content">
        <div class="header" style="left: -10%">
            <h1>Notes</h1>
        </div>
        <div class="table-responsive-sm tablealign" style="margin:auto; position:absolute; top: 235%; left: -10%">
            <div>
                <form class="form-inline">
                    <div class="form-group col-md-6" style="float:right">
                        <input type="search" id="query" name="q" asp-for="searchTerm" placeholder="Search...">
                    </div>
                </form>
            </div>
            <table class="table table-sm table-bordered">
                <tr>
                    <th>Name & Date</th>
                    <th>Content</th>
                    <th>Category ID</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                @foreach (note note in database.GetNotes())
                {
                    <tr>
                        <td>@note.name</td>
                        <td>@note.contents</td>
                        <td>@note.categoryID</td>
                        <td>
                            <div class="edit-note">
                                Edit
                                <form id="edit" method="post" asp-page-handler="Edit">
                                    <button type="submit" name="edit-note" value="@note.name"></button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <div class="delete-note">
                                Delete
                                <form id="delete" method="post" asp-page-handler="Delete">
                                    <button type="submit" name="delete-note" value="@note.name"></button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</main>